@import '../../cards/index.module.scss';

.wrapper {
  display: block;
  padding: 24px 0;

  .body {
    padding: 0;
  }
  :global {
    .ant-modal-close-x {
      width: 32px;
      height: 32px;
      line-height: 32px;
    }
    .ant-modal-close {
      top: 12px;
      right: 12px;
    }
    .ant-modal-body {
      padding: 0;
    }
    .ant-form-item {
      margin: 0;
    }
    .ant-form-item-explain {
      display: none;
    }
  }
}

.form {
  padding: 12px 22px;
  .columnFieldIcon {
    position: absolute;
    top: 8px;
    left: 11px;
    font-size: 16px;
  }
  .columnField {
    position: relative;
    padding-right: 25px;
    margin-bottom: 12px;
    :global {
      .ant-select {
        @include editable;
        border-radius: 2px;
        width: auto;
        max-width: 248px;
        .ant-select-selector {
          padding-left: 36px;
        }
      }
    }
  }
}
