@mixin editable {
  &:hover,
  &:focus-within {
    background-color: rgba(0, 0, 0, 0.018);
  }
}

.wrapper {
  display: block;
  padding: 24px 0;

  .body {
    padding: 0;
  }
  :global {
    .ant-modal-close-x {
      width: 32px;
      height: 32px;
      line-height: 32px;
    }
    .ant-modal-close {
      top: 12px;
      right: 12px;
    }
    .ant-modal-body {
      padding: 0;
    }
  }
}

.form {
  padding: 12px 22px;
  :global {
    .ant-form-item {
      margin: 0;
    }
    .ant-form-item-explain {
      display: none;
    }
  }
  .columnFieldIcon {
    position: absolute;
    top: 8px;
    left: 11px;
    font-size: 16px;
  }
  .columnField {
    position: relative;
    padding-right: 25px;
    margin-bottom: 12px;
    :global {
      .ant-select {
        @include editable;
        border-radius: 2px;
        width: auto;
        max-width: 248px;
        .ant-select-selector {
          padding-left: 36px;
        }
      }
    }
  }
  .titleField {
    @include editable;
    border-radius: 2px;
    margin-bottom: 12px;
    input {
      font-weight: bold;
    }
    :global {
      .ant-input-prefix {
        margin-right: 11px;
      }
    }
  }
  .fileFields {
    margin-bottom: 12px;
  }
  .actions {
    position: relative;
  }
  .submit {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.gistFileField {
  border: 1px solid #ddd;
  border-radius: 2px;
  margin-bottom: 22px;
  .fileNameInput {
    padding-right: 0;
  }
  :global {
    .ant-card-head-title,
    .ant-card-body {
      padding: 0;
    }
    .ant-card-extra {
      padding: 2px 2px;
      width: 36px;
    }
    .ant-card-head {
      @include editable;
      min-height: 36px;
      padding: 0;
      border-bottom: 1px solid #ddd;
      margin-bottom: 0;
    }
    .ant-input-prefix {
      width: 16px;
      display: inline-block;
      text-align: center;
      margin-right: 11px;
    }
  }
  .fileIcon::before {
    font-size: 16px !important;
  }
}

.gistCodeEditor {
  height: 320px;
  :global {
    .scrollbar .slider {
      border-radius: 4px;
    }
  }
}
