@import '../index.module.scss';

.sampleView {
  .singleLineTitle {
    margin-bottom: 0;
  }
}

.createFormItems {
  .titleField {
    @include editable;
    border-radius: 2px;
    margin-bottom: 12px !important;
    input {
      font-weight: bold;
    }
    :global {
      .ant-input-prefix {
        margin-right: 11px;
      }
    }
  }
  .fileFields {
    margin-bottom: 12px;
  }
  .actions {
    position: relative;
  }
  .submit {
    position: absolute;
    top: 0;
    right: 0;
  }

  .loadingSkeleton {
    height: 474px;
  }
}

.fileField {
  border: 1px solid #ddd;
  border-radius: 2px;
  margin-bottom: 22px;
  .fileNameInput {
    padding-right: 0;
  }
  :global {
    .ant-card-head-title,
    .ant-card-body {
      padding: 0;
    }
    .ant-card-extra {
      padding: 2px 2px;
      width: 36px;
    }
    .ant-card-head {
      @include editable;
      min-height: 36px;
      padding: 0;
      border-bottom: 1px solid #ddd;
      margin-bottom: 0;
    }
    .ant-input-prefix {
      width: 16px;
      display: inline-block;
      text-align: center;
      margin-right: 11px;
    }
  }
  .fileIcon::before {
    font-size: 16px !important;
    font-weight: bold;
  }
  .emptyExtra {
    height: 28px;
    padding: 0;
  }
}

.codeEditor {
  height: 320px;
  :global {
    .scrollbar .slider {
      border-radius: 4px;
    }
  }
}
