.wrapper {
  position: relative;
  height: 96px;
  opacity: 0.82;
  &:hover {
    opacity: 1;
    .background {
      transform: scale(1.1);
    }
  }
  .background {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.4s;
  }
  .foreground {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 8px;
  }
  .title {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin: 6px 0 8px 0;
    color: var(--white);
  }
  :global {
    .ant-card-body {
      height: 100%;
      padding: 0px;
      overflow: hidden;
      border-radius: 2px;
    }
  }
}

.creator {
  opacity: 1;
  height: 96px;
  background-color: var(--board-card-creator-bg-color);
  .title {
    font-size: 14px;
    font-weight: normal;
    color: var(--board-card-creator-font-color);
    text-align: center;
    margin: 0;
  }
  :global {
    .ant-card-body {
      height: 100%;
      padding: 37px 8px;
    }
    .anticon {
      margin-right: 4px;
    }
  }
}

.boardList {
  display: block;
  margin-bottom: 20px;
  :global {
    .ant-row {
      margin-left: -6px;
      margin-right: -6px;
      row-gap: 12px;
    }
    .ant-col {
      padding-left: 6px;
      padding-right: 6px;
    }
  }
}

.boardListLabel {
  display: block;
  margin-bottom: 8px;
  :global {
    .anticon {
      margin-right: 4px;
    }
  }
}
