$default-transition-duration: 300ms;
.page {
  &-appear,
  &-enter {
    opacity: 0;
    transform: scale(1.1);
    &-active {
      opacity: 1;
      transform: scale(1);
      transition: opacity $default-transition-duration,
        transform $default-transition-duration;
    }
  }
  &-exit {
    opacity: 1;
    transform: scale(1);
    &-active {
      opacity: 0;
      transform: scale(0.9);
      transition: opacity $default-transition-duration,
        transform $default-transition-duration;
    }
  }
}

.fade-right {
  &-appear,
  &-enter {
    opacity: 0.6;
    transform: translate3d(60%, 0, 0);
    &-active {
      opacity: 0.8;
      transform: translate3d(0, 0, 0);
      transition: opacity $default-transition-duration ease-in,
        transform $default-transition-duration ease-in;
      &:nth-child(1) {
        transition: opacity ($default-transition-duration - 180ms) ease-in,
          transform ($default-transition-duration - 180ms) ease-in;
      }
      &:nth-child(2) {
        transition: opacity ($default-transition-duration - 80ms) ease-in,
          transform ($default-transition-duration - 80ms) ease-in;
      }
    }
  }
}
