.creating {
  :global(.ant-modal-content) {
    border-radius: 2px;
  }
  :global(.ant-modal-close-x) {
    width: 32px;
    height: 32px;
    line-height: 32px;
  }
  :global(.ant-modal-close) {
    top: 12px;
    right: 12px;
  }
  :global(.ant-modal-body) {
    padding: 0;
    border-radius: 2px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .body {
    padding: 56px 24px 28px 24px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.6);
  }

  .field {
    margin-bottom: 16px;
  }

  .bgSelect {
    margin: -5px -11px;
    width: 36px;
    height: 32px;
    line-height: 32px;
  }

  :global(.ant-input) {
    border: none;
    background-color: rgba(25, 25, 25, 0.5);
    font-weight: bold;
    color: var(--white);
    &:hover {
      background: rgba(25, 25, 25, 0.55);
      box-shadow: none;
    }
    &:focus {
      background: rgba(25, 25, 25, 0.6);
      box-shadow: none;
    }
  }
  :global(.ant-input-group-addon) {
    cursor: pointer;
    border: none;
    background-color: rgba(25, 25, 25, 0.5);
  }
}
