.wrapper {
  // HACK: chrome's bug, there is one extra square after drag
  // margin: 0px 8px 8px 7px;
  width: 250px;
  margin: 0px 8px 8px 8px;
  padding: 0;
  .title {
    padding: 8px;
    margin-bottom: 0;
  }
  .content {
    padding: 8px;
  }
  :global {
    .ant-card-body {
      height: 100%;
      padding: 0px;
      overflow: hidden;
      border-radius: 2px;
    }
    .ant-btn-link {
      padding: 0;
    }
  }

  .singleLine {
    p:last-child {
      margin-bottom: 0;
    }
  }

  .note {
    ul li {
      input[type='checkbox'] {
        margin-right: 6px;
        cursor: pointer;
        position: relative;
        top: 2px;
        height: 14px;
        width: 14px;
      }
    }
  }
}
