.layout {
  display: flex;
  flex-direction: column;
  margin: 8px;
  border-radius: 2px;
  overflow: hidden;
  &.empty {
    .header {
      height: 42px;
      padding-bottom: 2px;
    }
  }
}
.content {
  flex: 0 1 auto;
  background-color: var(--fregment-background-color);
}

.container {
  position: relative;
  min-height: 6px;
  // HACK: chrome's bug, there is one extra square after drag
  // left: 1px;
  // overflow-x: hidden;
}

.empty .container {
  padding-top: 6px;
}

.cardPlaceholder {
  display: none;
  width: 250px;
  border-radius: 2px;
  background-color: rgba(46, 62, 79, 0.45);
}

.container:not(.draggingOver) {
  .cardPlaceholder {
    display: none !important;
  }
}

// header
.header {
  flex: 0 0 auto;
  display: block;
  position: relative;
  width: 266px;
  height: 48px;
  padding: 8px;
  font-size: 14px;
  line-height: 32px;
  background-color: var(--fregment-background-color);
  .title {
    display: inline-block;
    width: calc(100% - 32px);
  }
  .title.textMode .input,
  .title.inputMode .text {
    display: none;
  }
  .text {
    padding: 0 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .text,
  .input {
    font-weight: bold;
  }
  .addon {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    width: 24px;
    height: 24px;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    line-height: 24px;
    font-size: 16px;
  }
}

// creator
.creator {
  width: 266px;
  border-radius: 2px;
  padding: 8px;
  overflow: hidden;
  .label {
    padding: 0 4px;
    height: 32px;
    line-height: 32px;
    color: var(--light-font-color);
  }
  &.labelMode {
    height: 48px;
    background-image: linear-gradient(
      60deg,
      rgba(46, 62, 79, 0.7),
      rgba(46, 62, 79, 0.7)
    );
    &:hover {
      background-image: linear-gradient(
        60deg,
        rgba(46, 62, 79, 0.7),
        rgba(46, 62, 79, 1)
      );
    }
    .field {
      display: none;
    }
  }
  &.fieldMode {
    height: 88px;
    background-color: var(--fregment-background-color);
    .label {
      display: none;
    }
  }

  .actions {
    margin-top: 8px;
  }
  .close {
    margin-left: 12px;
  }

  transition: height 0.3s, background 0.2s;
}

// footer
.footer {
  flex: 0 0 auto;
  display: block;
  position: relative;
  textarea {
    resize: none;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-image: radial-gradient(
      circle at 100% 100%,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0) 70.71%,
      var(--fregment-background-color) 70.71%
    );
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 2px;
    background-image: radial-gradient(
      circle at 0% 100%,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0) 70.71%,
      var(--fregment-background-color) 70.71%
    );
  }
  .creator {
    width: 100%;
    &.fieldMode {
      height: auto;
    }
  }
}
