.wrapper {
  // HACK: chrome's bug, there is one extra square after drag
  // margin: 0px 8px 8px 7px;
  margin: 0px 8px 8px 8px;
  padding: 0;
  .title {
    padding: 8px;
    margin-bottom: 0;
  }
  :global {
    .ant-card-body {
      height: 100%;
      padding: 0px;
      overflow: hidden;
      border-radius: 2px;
    }
  }
}
