.wrapper {
  // HACK: chrome's bug, there is one extra square after drag
  // margin: 0px 8px 8px 7px;
  margin: 0px 8px 8px 8px;
  padding: 0;
  .title {
    padding: 8px;
    margin-bottom: 0;
  }
  .content {
    padding: 8px;
  }
  :global {
    .ant-card-body {
      height: 100%;
      padding: 0px;
      overflow: hidden;
      border-radius: 2px;
    }
  }
}

.note {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul,
  pre {
    margin-top: 0;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;
    margin-bottom: 0.2em;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:focus,
  input:focus,
  select:focus,
  textarea:focus {
    outline: 1px solid -webkit-focus-ring-color;
    outline-offset: -1px;
  }

  p {
    margin-bottom: 0.7em;
  }

  ul,
  ol {
    margin-bottom: 0.7em;
  }

  hr {
    border: 0;
    height: 2px;
    border-bottom: 2px solid;
  }

  h1 {
    padding-bottom: 0.3em;
    line-height: 1.2;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-weight: normal;
  }

  table {
    border-collapse: collapse;
  }

  table > thead > tr > th {
    text-align: left;
    border-bottom: 1px solid;
  }

  table > thead > tr > th,
  table > thead > tr > td,
  table > tbody > tr > th,
  table > tbody > tr > td {
    padding: 5px 10px;
  }

  table > tbody > tr + tr > td {
    border-top: 1px solid;
  }

  blockquote {
    margin: 0 7px 0 5px;
    padding: 0 16px 0 10px;
    border-left-width: 5px;
    border-left-style: solid;
  }

  code {
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-size: 1em;
    line-height: 1.357em;
  }

  pre:not(.hljs),
  pre.hljs code > div {
    padding: 16px;
    border-radius: 3px;
    overflow: auto;
  }

  /** Theming */
  blockquote {
    color: #6a737d;
    border-color: #dfe2e5;
  }

  pre code {
    color: #24292e;
    tab-size: 4;
  }

  pre {
    background-color: rgba(220, 220, 220, 0.4);
  }

  table > thead > tr > th {
    border-color: rgba(0, 0, 0, 0.69);
  }

  h1,
  hr,
  table > tbody > tr + tr > td {
    border-color: rgba(0, 0, 0, 0.18);
  }
}
