.wrapper {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  height: var(--header-height);
  line-height: var(--header-height);
  padding: 0 0px 0 16px;
  z-index: 3;
  background-color: transparent;
  backdrop-filter: blur(6px);
}

.rightSide {
  flex: 1 1 auto;
  text-align: right;
  .userActions {
    padding-right: 16px;
  }
}
.backCover {
  background-color: var(--layout-background-color);
}
