.layout {
  height: 100%;
  width: 100%;
}

.container {
  padding: 18px 24px 36px 24px;
}

.boardList {
  display: block;
  margin-bottom: 20px;
  :global {
    .ant-row {
      margin: -6px -6px 6px;
    }
    .ant-col {
      padding: 6px;
    }
  }
}

.boardListLabel {
  display: block;
  :global {
    .anticon {
      margin-right: 4px;
    }
  }
}
